.hero {
  min-height: 540px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-image: url("../img/background.jpg");
}

.hero__content {
  margin: 0;
  padding: 22px 0 0 0;
}

@media (min-width: 480px) {
  .hero {
    background-image: url("../img/background_768.jpg");
    min-height: 700px;
  }
}

@media (min-width: 769px) {
  .hero {
    background-image: url("../img/background_1440.jpg");
  }
}
