.page-header {
  background-image: linear-gradient(
      to bottom,
      rgba(243, 129, 129, 0.9) 0%,
      rgba(252, 227, 138, 0.9) 100%
    ),
    url(../img/banner-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 1000px;
  @media (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {  
      background-image: linear-gradient(
          90deg,
          rgba(252, 227, 138, 0.9) 0%,
          rgba(243, 129, 129, 0.9) 100%
        ),
        url(../img/banner@2x-min.jpg);
  }
}
