.page-front__subtitle {
    font-family: $third-font-stack;
    font-weight: 400;
    font-size: 72px;
    color: $first-bc;
    margin: 0 0 48px 0;
    text-align: center;
  }
  .page-front__title {
    font-family: $main-font-stack;
    font-weight: 700;
    font-size: 150px;
    line-height: 140px;
    color: $first-bc;
    margin: 0 0 124px 0;
    padding: 0 180px;
    text-transform: uppercase;
    text-align: center;
  }
  .page-front__link {
    @extend %link;
    cursor: pointer;
    margin: 0 auto;
    width: 160px;
    padding: 9px 10px;
    font-family: $main-font-stack;
    font-weight: 700;
    font-size: 14px;
    color: $first-bc;
    text-transform: uppercase;
    text-align: center;
    border: 3px solid $first-bc;
    &:hover {
      background-color: $eighth-bc;
    }
  }
 