html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.page-header {
  background-image: -webkit-gradient(
      linear,
      left top, right top,
      from(rgb(252, 227, 138, 0.9)),
      to(rgb(243, 129, 129, 0.9))
    ),
    url(../img/banner-min.jpg);
  background-image: -webkit-linear-gradient(
      left,
      rgb(252, 227, 138, 0.9) 0%,
      rgb(243, 129, 129, 0.9) 100%
    ),
    url(../img/banner-min.jpg);
  background-image: -o-linear-gradient(
      left,
      rgb(252, 227, 138, 0.9) 0%,
      rgb(243, 129, 129, 0.9) 100%
    ),
    url(../img/banner-min.jpg);
  background-image: linear-gradient(
      90deg,
      rgb(252, 227, 138, 0.9) 0%,
      rgb(243, 129, 129, 0.9) 100%
    ),
    url(../img/banner-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 1000px;
  margin-bottom: 46px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .page-header {
    background-image: -webkit-gradient(
        linear,
        left top, right top,
        from(rgb(252, 227, 138, 0.9)),
        to(rgb(243, 129, 129, 0.9))
      ),
      url(../img/banner@2x-min.jpg);
    background-image: -webkit-linear-gradient(
        left,
        rgb(252, 227, 138, 0.9) 0%,
        rgb(243, 129, 129, 0.9) 100%
      ),
      url(../img/banner@2x-min.jpg);
    background-image: -o-linear-gradient(
        left,
        rgb(252, 227, 138, 0.9) 0%,
        rgb(243, 129, 129, 0.9) 100%
      ),
      url(../img/banner@2x-min.jpg);
    background-image: linear-gradient(
        90deg,
        rgb(252, 227, 138, 0.9) 0%,
        rgb(243, 129, 129, 0.9) 100%
      ),
      url(../img/banner@2x-min.jpg);
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.link {
  display: block;
  text-decoration: none;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-navigation {
  padding-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 194px;
}
.site-navigation__logo {
  font-size: 30px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
}
.site-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 620px;
}
.site-navigation__link {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
}
.site-navigation__link::after {
  content: "";
  width: 0;
  border-bottom: 2px solid #fce38a;
  position: absolute;
  bottom: -15%;
  left: 0;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}
.site-navigation__link--text:hover::after {
  width: 100%;
}
.site-navigation__link:hover {
  color: #fce38a;
}
.site-navigation__icon {
  display: inline-block;
  width: 20px;
  height: 18px;
  fill: #ffffff;
}
.site-navigation__icon:hover{
  fill: #fce38a;
}
.page-front__subtitle {
  font-family: "Kaushan Script";
  font-weight: 400;
  font-size: 72px;
  color: #ffffff;
  margin: 0 0 48px 0;
  text-align: center;
}
.page-front__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 150px;
  line-height: 140px;
  color: #ffffff;
  margin: 0 0 124px 0;
  text-transform: uppercase;
  text-align: center;
}
.page-front__link {
  cursor: pointer;
  margin: 0 auto;
  width: 160px;
  padding: 9px 10px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border: 3px solid #ffffff;
}
.page-front__link:hover {
  background-color: #fce38a;
}
.services__desc {
  font-family: "Kaushan Script";
  font-weight: 400;
  font-size: 24px;
  color: #333333;
  text-align: center;
  margin: 0 0 20px 0;
}
.services__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 30px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 92px 0;
}
.services__title::after {
  content: "";
  display: block;
  width: 60px;
  margin: 0 auto;
  border-bottom: 3px solid #f38181;
  margin-top: 40px;
}
.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 10px;
}
.services__item {
  width: 300px;
  padding-left: 82px;
  position: relative;
}
.services__item:nth-child(-n + 3) {
  margin-bottom: 100px;
}
.services__item::before {
  position: absolute;
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 20px;
  top: 0;
}
.services__item-1::before {
  background-image: url(../img/icon-1.png);
}
.services__item-2::before {
  background-image: url(../img/icon-2.png);
}
.services__item-3::before {
  background-image: url(../img/icon-3.png);
}
.services__item-4::before {
  background-image: url(../img/icon-4.png);
}
.services__item-5::before {
  background-image: url(../img/icon-5.png);
}
.services__item-6::before {
  background-image: url(../img/icon-6.png);
}
.services__headline {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
}
.services__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  color: #999999;
}
.services {
  margin-bottom: 92px;
}
.team__desc {
  font-family: "Kaushan Script";
  font-weight: 400;
  font-size: 24px;
  color: #333333;
  text-align: center;
  margin: 0 0 20px 0;
}
.team__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 30px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 92px 0;
}
.team__title::after {
  content: "";
  display: block;
  width: 60px;
  margin: 0 auto;
  border-bottom: 3px solid #f38181;
  margin-top: 40px;
}
.team__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  text-align: center;
  padding: 0 112px;
  margin: 0 0 95px 0;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team__item {
  position: relative;
}
.team__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 470px;
  opacity: 0;
  z-index: 1;
  background-image: -webkit-gradient(
    linear,
    left top, right top,
    from(rgba(252, 227, 138, 0.8)),
    to(rgba(243, 129, 129, 0.8))
  );
  background-image: -webkit-linear-gradient(
    left,
    rgba(252, 227, 138, 0.8) 0%,
    rgba(243, 129, 129, 0.8) 100%
  );
  background-image: -o-linear-gradient(
    left,
    rgba(252, 227, 138, 0.8) 0%,
    rgba(243, 129, 129, 0.8) 100%
  );
  background-image: linear-gradient(
    90deg,
    rgba(252, 227, 138, 0.8) 0%,
    rgba(243, 129, 129, 0.8) 100%
  );
  -webkit-box-shadow: 10px 10px 1px rgb(149, 225, 211);
          box-shadow: 10px 10px 1px rgb(149, 225, 211);
  -webkit-transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
  transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear, opacity 0.2s linear;
  transition: transform 0.2s linear, opacity 0.2s linear;
  transition: transform 0.2s linear, opacity 0.2s linear, -webkit-transform 0.2s linear;
}
.team__item:hover .team__overlay {
  -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  opacity: 1;
}
.team__img {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  margin-bottom: 30px;
}
.team__item:hover .team__img {
  -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 100%;
  padding: 0;
  width: 224px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.social__link {
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  display: inline-block;
  width: 55px;
  height: 55px;
  background-color: #fce38a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__link:hover{
  background-color: #f38181;
}
.social__icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  fill: #f38181;
}
.social__link:hover .social__icon{
  fill: #ffffff;
}
.team__item-name {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 400;
  text-align: center;
  margin-bottom: 14px;
}
.team__item-position {
  margin: 0;
  text-align: center;
  font-size: 15px;
  line-height: 24px;
  font-family: "Roboto", italic;
  color: #999999;
}
.page-main {
  margin-bottom: 82px;
}
.page-ftr {
  min-height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #e5e5e5;
}
.ftr__link {
  display: inline-block;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 400;
}
.ftr__link:hover {
  color: #f38181;
}
.ftr__text {
  display: inline-block;
  margin: 0;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 400;
}
.ftr__btn {
  padding: 11px 33px;
  background-color: #95e1d3;
  border: none;
  text-transform: uppercase;
  color: #fff;
}
.ftr__email {
  display: inline-block;
  border: 1px solid #e7e7e7;
  padding: 10px 30px;
}
