* {
  margin: 0;
  padding: 0;
}
body {
  width: 1200px;
  font-size: 14px;
}
.dang {
  width: 900px;
  margin-bottom: 103px;
  margin-top: 77px;
  margin-left: 312px;
}
.dang1 {
  width: 900px;
  margin-left: 150px;
}
.menu {
  list-style: none;
}
.menu-li {
  display: inline-block;
  margin-right: 70px;
  text-align: center;
}
a {
  display: block;
  text-decoration: none;
}
.box {
  display: inline-block;
  width: 420px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.box-left {
  margin-right: 55px;
}
.wrapper {
  height: auto;
}
.btn-footer {
  height: 60px;
  width: 164px;
  margin-top: 57px;
  display: block;
  position: relative;
  border: 1px solid black;
  margin: 0 auto;
}
.container {
  width: 0 auto;
  margin: 0 auto;
}
.item {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
