$main-font-stack: 'Montserrat';
$secondary-font-stack: 'Roboto';
$third-font-stack: 'Kaushan Script';

$first-bc: #ffffff;
$second-bc: #333333;
$third-bc: #999999;
$fourth-bc: #e5e5e5;
$fifth-bc: #f38181;
$sixth-bc: #95e1d3;
$seventh-bc: #e7e7e7;
$eighth-bc: #f80303;
$ninth-bc: #fce38a;
