html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
.container{
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 70px;
}
.features{
    padding-bottom: 104px;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.product>li:hover p{
    background-color: #4ec6ab;
}
.clearfix:after{
    display: table;
    content: "";
    clear: both;
}
.menu{
    width: 475px;
    list-style: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    float: right;
    font-size: 14px;
    margin-top: 4px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.item{
    float: left;
    text-align: center;
    margin-right: 28px;
}
li:last-child{
    margin-right: 0;
}
.logo{
    display: inline-block;
}
.site-navigation{
    padding: 38px 0;
}
.navigation{
    text-decoration: none;
    color: #0f0101;
    display: block;
}
.navigation:hover{
    color: #4ec6ab;
}

.product{
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 32px;
}

.product-item{
    float: left;
    margin-right: 30px;
    width: 255px;
}
.product-item:nth-child(4n) {
    margin-right: 0;}

.product-item:nth-child(-n+4){
    margin-bottom: 30px;
}
.page{
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto;
}
.page-item{
    float: left;
    width: 350px;
    margin-right: 30px;
}

.headline::after{
    content: "";
    display: block;
    width: 162px;
    margin: 0 auto;
    border-bottom: 8px solid #4ec6ab;
    margin-top: 30px;
}
.headline{
    margin: 0;
    margin-bottom: 122px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 32px;
    text-transform: uppercase;
    text-align: center;
    color: #515151;
}
.text{
    font-size: 14px;
    line-height: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0px 0px 12px 0px;
}
h5{
    font-size: 18px;
    line-height: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin: 0px 0px 36px 0px;
}
h5::after{
    content: "";
    display: block;
    width: 136px;
    border-bottom: 3px solid #4ec6ab;
    margin-top: 15px;
}
.link{
    text-transform: uppercase;
    background-color: #4ec6ab;
    color: #ffffff;
    padding: 12px 35px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 160px;
    margin-bottom: 45px;
}
.section{
    width: 202px;
    float: left;
    height: 40px;
    background-color: #323232;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    padding: 0 10px;

}
.price{
    width: 53px;
    float: right;
    text-align: center;
    height: 40px;
    background-color: #8c8c8c;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    margin: 0;
}
.pictures{
    margin-bottom: 10px;
}